
@{
    ViewBag.Title = "LISA STORE";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section view_title{
 
}

@section css{
   <style>
       .w-100{
           width:100%;
           height:400px;
       }
       .carousel-inner{
          max-width:100%;
          max-height:400px;
       }
    </style>
}

@section js{    
}



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="w-100 img-responsive" src="~/Images/banner/banner-1.jpg" alt="">
        </div>

        <div class="item">
            <img class="w-100 img-responsive" src="~/Images/banner/banner-2.jpg" alt="">
        </div>

        <div class="item">
            <img class="w-100 img-responsive" src="~/Images/banner/banner-3.jpg" alt="">
        </div>
        <div class="item">
            <img class="w-100 img-responsive" src="~/Images/banner/banner-4.jpg" alt="">
        </div>
    </div><!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>