
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Category</title>
</head>
<body>
    <div> 
        <form action="" method="post">
            Danh mục
            <input type="text" name="CatName" />
            <button type="submit">Đồng ý</button>
        </form>
        <a href="@Url.Action("Index","Category")">Quay lại</a>
        
    </div>
</body>
</html>
