
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section view_title{
    Đăng nhập
}
@section css{
    <link href="~/Content/DatePicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
}
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> @ViewBag.ErrorMsg
    </div>
}

<form class="form-horizontal" method="post" action="" id="frmRegister">
    <div class="form-group">
        <label for="txtUsername" class="col-sm-2 control-label">Tên đăng nhập:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPassword" class="col-sm-2 control-label">Mật khẩu:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPassword" placeholder="Password" name="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Đăng nhập
            </button>
        </div>
    </div>
</form>