@using QuanLyBanHang.Models;


@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section view_title{
    Thông tin tài khoản
}

<h3>Họ tên: </h3>
<h3>Email: </h3>
<h3>Ngày tạo: </h3>



